.App
{
	width: 100%;
	min-height: 100%;
	background: linear-gradient(to right, white, rgb(226, 226, 226), white);

	display: flex;
	justify-content: center;
	align-items: center;
}

.cards-container
{
	width: 100%;
	min-height: 85%;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;

	padding: 1rem;
	margin: 2rem;
}

.card
{
	width: 275px;
	height: 325px;
	background: linear-gradient(to bottom, white, lightgray, white);
	box-sizing: border-box;

	cursor: pointer;
	user-select: none;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	box-shadow: 0 0 15px 7.5px gray;
	padding: 1rem 1.5rem;
	margin: 1rem;
}

.cardImg-container
{
	width: 100%;
	height: 200px;
	overflow: hidden;

	position: relative;
}

.cardImg-container img
{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.card-name
{
	font-size: 2.25em;
	font-family: monospace;

	margin: 0;
}
